
// Body
$body-bg: #f5f8fa;

// Header
$header-bg: #514560;
$header-color: #fefefe;

// Color Scheme:
$color1: rgba(234, 239, 211, 1);
$color2: rgba(220, 196, 142, 1);
$color3: rgba(179, 192, 164, 1);
$color4: rgba(39, 35, 58, 1);
$color5: rgba(95, 75, 102, 1);

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
