
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

* {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: $color5;

    a {
        color: $color4;
        &:hover {
            color: $color1;
        }
        &:active {
            color: $color5;
        }
    }

    h1 {
        font-family: "Raleway", sans-serif !important;
        font-size: 28px;
        color: $header-color;
    }

    h2.title {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.container-fluid {
    //margin-left: 0;
    //margin-right: 0;
    //padding-left: 0;
    //padding-right: 0;
}

.page-header {
    font-family: Roboto, sans-serif;
    padding: 20px 16px;
    background-color: $color5;
    color: $header-color;
    border-bottom: 10px solid $color3;

    a {
        color: $color1;
        &:hover {
            color: $color2;
        }
    }

    p {
        margin-bottom: 6px;
    }
}

.navbar-laravel {
    background-color: $header-bg;
    color: $header-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.content {
    padding: 30px;

    form {
        .col-form-label {
            text-align: right;
        }
    }

    .venue-image-preview {
        width: 200px;
    }

    .btn-primary {
        background-color: $color5 !important;
        border-color: $color4 !important;
    }
    .btn-info {
        background-color: $color3 !important;
        border-color: $color3 !important;
    }

    .card {
        border-color: $color3;
    }
    .card-header {
        background-color: $color3;
    }
    .card-footer {
        .pagination {
            color: $header-color;
        }
        background-color: $color3;
    }
    v-datepicker {
        button {
            width: 40px;
        }
    }
    .icon-medium {
        width: 80px;
    }
}

.page-footer {
    color: $color1;
    background-color: $color5;

    .footer-copyright {
        color: $color1;
    }
}

.link {
    cursor: pointer;
}
